body{
    background: lemonchiffon;
    text-align: center;  
}
h1{
    color: darkred;
}

.pagination{
    display: flex;
    justify-content: center;
}
.pagination a{
    margin: 25px;
    color: darkcyan;
}